git+https://github.com/MultiAgentLearning/playground@3ccc94e13dd4e3a02d1c4e283064d89e45620818
tensorflow-gpu
https://s3-us-west-2.amazonaws.com/ray-wheels/latest/ray-0.7.0.dev2-cp36-cp36m-manylinux1_x86_64.whl
psutil
black
rope
click
google-api-python-client
cryptography
